[submodule "frontend"]
	path = frontend
	url = https://github.com/sabine-hazimeh/goal-master-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/sabine-hazimeh/goal-master-backend
[submodule "ML"]
	path = ML
	url = https://github.com/sabine-hazimeh/goal-master-ml
